{% extends 'dashboard/dashboardBase.html' %}

{% load staticfiles %}

{% block mainContent %}
<!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-green w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-leaf w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>1</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Plants</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-thermometer w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>25°C</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Temperature</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-tint w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>70%</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Humidity</h4>
            </div>
        </div>

        <!-- NEW -->
        <div class="w3-quarter">

            <div class="w3-container w3-brown w3-text-white w3-padding-16">
                <div class="w3-left">
                </div>
                <div class="w3-right">
                    <h3 id="sMoistureValue">70%</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Soil Moisture</h4>
            </div>
        </div>
    </div>

    <hr>

    <div class="w3-container">
        <h5>Greenhouses</h5>
        <div class="systemsDisplay">
            <h6>Greenhouse 1</h6>
        </div>

        <a href="#" class="addSystem">+</a>
    </div>
    <hr>

    <div class="w3-container">
        <h5>Farmers</h5>
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-padding-16">
                <img src="{% static 'dashboard/avatar2.png' %}" class="w3-left w3-circle w3-margin-right" style="width:35px">
                <span class="w3-xlarge">Puneeth C</span><br>
            </li>
            <li class="w3-padding-16">
                <img src="{% static 'dashboard/avatar5.png' %}" class="w3-left w3-circle w3-margin-right" style="width:35px">
                <span class="w3-xlarge">Sonal Kumar</span><br>
            </li>
            <li class="w3-padding-16">
                <img src="{% static 'dashboard/avatar6.png' %}" class="w3-left w3-circle w3-margin-right" style="width:35px">
                <span class="w3-xlarge">Suraj S Jain</span><br>
            </li>
        </ul>
    </div> <!-- Farmers -->
    <hr>

    <div class="w3-container">
        <h5>Recent Comments</h5>
        <div class="w3-row">
            <div class="w3-col m2 text-center">
                <img class="w3-circle" src="{% static 'dashboard/avatar3.png' %}" style="width:96px;height:96px">
            </div>
            <div class="w3-col m10 w3-container">
                <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
                <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col m2 text-center">
                <img class="w3-circle" src="{% static 'dashboard/avatar1.png' %}" style="width:96px;height:96px">
            </div>
            <div class="w3-col m10 w3-container">
                <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
            </div>
        </div>
    </div>
    <br>

{% endblock %}

{% block scriptBlock %}
    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");
        const moistureValueDisp = document.getElementById('sMoistureValue');

        // var i = 0;

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

        function getSoilNow() {
            var moisture = Math.floor((Math.random() * 100) + 1);
            moistureValueDisp.innerHTML = moisture + "%";
        }

        function startTime() {
            // document.getElementById('ftr').innerHTML = "Hello "+i;
            // i = i + 1;
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            // getSoilNow();
            var t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }; // add zero in front of numbers < 10
            return i;
        }

        // var i = 0;
        //
        // while(true){
        //     i = i + 1;
        // }
    </script>
{% endblock %}
