{% extends 'dashboard/dashboardBase.html' %}

{% load staticfiles %}

{% block jsLinks %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block mainContent %}

<!-- Header -->
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> {{ plant.name }}</b></h5>
</header>


<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
        <div class="w3-container w3-green w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-leaf w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3 id = "diseaseVal" >No</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Diseased</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-red w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-thermometer w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3 id = "temperatureVal" >25°C</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Temperature</h4>
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-container w3-blue w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-tint w3-xxxlarge"></i></div>
            <div class="w3-right">
                <h3 id = "humidityVal" >70%</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Humidity</h4>
        </div>
    </div>

    <!-- NEW -->
    <div class="w3-quarter">

        <div class="w3-container w3-brown w3-text-white w3-padding-16">
            <div class="w3-left">
            </div>
            <div class="w3-right">
                <h3 id="sMoistureValue">70%</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Soil Moisture</h4>
        </div>
    </div>
</div>

<hr>

<div id="tempGraph" class="w3-container" style="width: -webkit-fill-available; height: 30%; margin: 1.8%; border-radius: 10%;">

</div>
<hr>

<div id="humGraph" class="w3-container" style="width: -webkit-fill-available; height: 30%; margin: 1.8%; border-radius: 10%;">

</div>
<hr>

<div class="w3-container">
    <h3>Enable Automatic/Manual Controls</h3>
    <button type="button" class="control-button-green" onclick="actuate('manual', false)">Automatic</button>
    <button type="button" class="control-button-red" onclick="actuate('manual', true)">Manual</button>
</div>

<div class="w3-container">
    <h3>Light Controls</h3>
    <button type="button" class="control-button-green" onclick="actuate('light', true)">Light On</button>
    <button type="button" class="control-button-red" onclick="actuate('light', false)">Light Off</button>
</div>

<div class="w3-container">
    <h3>Water Controls</h3>
    <button type="button" class="control-button-green" onclick="actuate('water', true)">Water On</button>
    <button type="button" class="control-button-red" onclick="actuate('water', false)">Water Off</button>
</div>


<div class="w3-container">
    <h2>Data</h2>
    <br>
    <h4>Plant Conditions</h4>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
            <th>Timestamp</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Soil Moisture</th>
            <th>Diseased</th>
        </tr>
        {% for pc in plntConditions %}

            <tr>
                <td>{{ pc.timestamp }}</td>
                <td>{{ pc.temperature }}</td>
                <td>{{ pc.humidity }}</td>
                <td>{{ pc.soilMoisture }}</td>
                <td>{{ pc.diseased }}</td>
            </tr>

        {% endfor %}
    </table>

    <br>
    <h4>Pond Conditions</h4>
    <table class="w3-table w3-striped w3-bordered w3-border w3-white">
        <tr>
            <th>Timestamp</th>
            <th>Level</th>
            <!-- <th>Humidity</th>
            <th>Soil Moisture</th>
            <th>Diseased</th> -->
        </tr>
        {% for pc in pondConditions %}

            <tr>
                <td>{{ pc.timestamp }}</td>
                <td>{{ pc.level }}</td>
                <!-- <td>{{ pc.humidity }}</td>
                <td>{{ pc.soilMoisture }}</td>
                <td>{{ pc.diseased }}</td> -->
            </tr>

        {% endfor %}
    </table>

    <br>
    <h4>Watering</h4>
    <table class="w3-table w3-striped w3-bordered w3-border w3-white">
        <tr>
            <th>Timestamp</th>
            <th>pond</th>
            <th>Motor</th>
            <!-- <th>Humidity</th>
            <th>Soil Moisture</th>
            <th>Diseased</th> -->
        </tr>
        {% for w in watering %}

            <tr>
                <td>{{ w.timestamp }}</td>
                <td>{{ w.pond.name }}</td>

                {% if w.motor is False %}
                <td>Off</td>
                {% else %}
                <td>On</td>
                {% endif %}
                <!-- <td>{{ pc.humidity }}</td>
                <td>{{ pc.soilMoisture }}</td>
                <td>{{ pc.diseased }}</td> -->
            </tr>

        {% endfor %}
    </table>

    <br>
    <h4>Fish Feeding</h4>
    <table class="w3-table w3-striped w3-bordered w3-border w3-white">
        <tr>
            <th>Timestamp</th>
            <th>pond</th>
            <!-- <th>Humidity</th>
            <th>Soil Moisture</th>
            <th>Diseased</th> -->
        </tr>
        {% for f in fishFeeding %}

            <tr>
                <td>{{ f.timestamp }}</td>
                <td>{{ f.pond.name }}</td>
                <!-- <td>{{ pc.humidity }}</td>
                <td>{{ pc.soilMoisture }}</td>
                <td>{{ pc.diseased }}</td> -->
            </tr>

        {% endfor %}
    </table>
</div>
<hr>

<div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
        <div class="w3-col m2 text-center">
            <img class="w3-circle" src="{% static 'dashboard/avatar3.png' %}"" style=" width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
            <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
            <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col m2 text-center">
            <img class="w3-circle" src="{% static 'dashboard/avatar1.png' %}" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
            <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
    </div>
</div> <!-- Comments -->
<br>


{% endblock %}

{% block scriptBlock %}
<script src="{% static 'dashboard/graphLoader.js' %}">
</script>

{% endblock %}
